<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <patterns>
    <!-- Example of special functions -->
    <button id="7" holdkey="false">
      <special key="[preview]"/>
    </button>
    <button id="8" holdkey="true">
      <special key="[random]"/>
    </button>
    <button id="6" holdkey="false">
      <special key="[bringtofront]"/>
    </button>

    <!-- Pattern with or without effects.-->
    <button id="1">
      <program repeat="true">
        <step runfor="1000">
          <pattern key="a"/>
          <effect key="4"/>
        </step>
        <step runfor="2000">
          <pattern key="b"/>
          <effect key="3"/>
        </step>
        <step runfor="4000">
          <pattern key="c"/>
          <effect key="1"/>
        </step>
      </program>
    </button>
    <button id="2">
      <pattern key="b"/>
      <effect key="0"/>
    </button>
    <button id="3">
      <pattern key="c"/>
      <effect key="6"/>
    </button>
    <button id="4">
      <pattern key="d"/>
    </button>
    <button id="5">
      <pattern key="e"/>
      <effect key="4"/>
    </button>
    <button id="17">
      <pattern key="h"/>
      <effect key="4"/>
    </button>
    <button id="55">
      <pattern key="g"/>
      <effect key="4"/>
      <special key="[preview]"/>
    </button>

  </patterns>
</settings>